ol,ul{list-style:none;margin:0px;padding:0px;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
#tips{
	display: none;
	text-align:center;
	vertical-align: middle;
	width:100%; 
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	background: gray;
	z-index: 5;
	line-height:100px;
	font-family: 'Poiret One', cursive;
	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	-moz-opacity:0.8; /*Firefox私有，透明度50%*/
	opacity:0.8;/*其他，透明度50%*/
}
#tips span{
	color: white;
	position: absolute;
	top: 35%;
	left: 35%;
}
img{
	max-width:100%;
}
.main{
	margin:7em auto 0;
	width: 30%;
}
.logo img{
    margin-top: -1.8em;
}
.user {
	text-align:right;
	vertical-align: middle;
	margin-right:3.0em;
    margin-top: 0.4em;
}
.login{
	padding:1em 0;
}
.inset {
	position:relative;
	background: #fff;
	padding: 2em 2em;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
.inset:before{
	content: '';
	width: 0;
	height: 0;
	border: 20px solid #FFF;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 13px solid rgba(0, 0, 0, 0)!important;
	border-left: 13px solid rgba(0, 0, 0, 0);
	left: 77.1%;
	top: -5.3%;
	position: absolute;
}
span {
	display: block;
	font-size: 1em;
	color: #787878;
	padding-bottom: 5px;
	font-weight: 600;
    font-family: 'Poiret One', cursive;
}
input[type="text"],input[type="Password"] {
	padding: 9px;
	width: 90%;
	font-size: 1.1em;
	margin: 18px 0px;
	border: 2px solid#EAEEF1;
	color: #666666;
	background:#EAEEF1;
    border-radius: 0.5em;
	font-family: 'Poiret One', cursive;
	font-weight:600;
	margin-left: 5px;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
input[type="text"]:hover,input[type="Password"]:hover,#active{
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}
.sign {
	padding: 10px 0;
}
.forget-pass {
	float: right;
}
.submit {
	padding: 2px 2px;
	float:left;
	margin-right: 11px;
}
.submit input[type="submit"] {
	background: #F06B37;
	border: none;
	outline: none;
	padding: 0.55em 1.3em 0.6em;
	cursor: pointer;
    font-family: 'Poiret One', cursive;
	color: #FFF;
	font-size: 0.9em;
	border-radius: 1.3em;
	-webkit-border-radius: 1.3em;
	-moz-border-radius: 1.3em;
	-o-border-radius: 1.3em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-weight: 600;
}
.submit input[type="submit"]:hover{
	background:#62A0C4;
}
.forget{
	float:right;
}
.forget-pass a {
	float: right;
	color:#898888;
	font-size: 0.95em;
	margin-top: 13px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-weight: 600;
	font-family: 'Poiret One', cursive;
}
.forget-pass a:hover {
	text-decoration: underline;
}
.copy-right {
	text-align: center;
	width: 97%;
	margin: 2em auto 0;
}
.copy-right p {
	color: #FFF;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
}
.copy-right p a {
	font-family: 'Poiret One', cursive;
	font-size: 1em;
	font-weight: 600;
	color: #1567A5;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right p a:hover {
	color:#fff;
}
/*----start-responsive design-----*/
@media (max-width:1440px){
	.main {
		width:33%;
		margin: 7em auto 0;
	}
	.user {
		margin-right: 4.2em;
	}
	.inset:before {
	left: 80%;
	top: -5.3%;
	}
}
@media (max-width:1366px){
	.main {
		width:36%;
	}
	.inset:before {
		left: 80%;
		top: -5%;
	}
}
@media (max-width:1280px){
	.main {
		width:40%;
	}
	.user {
	margin-right: 5.2em;
	}
	.inset:before {
	left: 78.3%;
	top: -5.4%;
	}
	input[type="text"], input[type="Password"] {
	padding: 9px;
	width: 93%;
	}
}
@media (max-width:1024px){
	.main {
		width:48%;
		margin: 8em auto 0;
	}
	.inset:before {
		left: 77.2%;
		top: -5.4%;
	}
}
@media (max-width:768px){
	.main {
		width:59%;
	}
	.inset:before {
	left: 75.3%;
	top: -5.4%;
	}
}
@media (max-width:640px){
	.main {
		width:67%;
	}
	.inset:before {
	left: 74.2%;
	top: -5.4%;
	}
}
@media (max-width:480px){
	.main {
		width:80%;
		margin: 3em auto 0;
	}
	.user {
	margin-right: 2.9em;
	}
	.inset:before {
	left: 74.2%;
	top: -5.4%;
	}
}
@media (max-width:320px){
	.main {
		width: 97%;
		margin: 2em auto 0;
	}
	.inset:before {
	left: 67%;
	top: -4.4%;
	}
	.user {
	margin-right: 4.2em;
	}
	.login {
	padding: 1em 0;
	}
	.submit{
	padding: 2px ;
	text-align: center;
	float:none;
	}
	.forget-pass {
	float:none;
	text-align:center;
	margin-top: 15px
	}
	.forget-pass a {
	float:none;
	}
	input[type="text"], input[type="Password"] {
	padding: 6px;
	margin: 9px 0px;
	}

}
